<%- include('./partials/header'); %>

    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem risus, placerat vel mi id, imperdiet
                cursus nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Mauris condimentum lectus eu arcu ornare gravida. Pellentesque habitant morbi tristique senectus et
                netus et malesuada fames ac turpis egestas. Aliquam vel augue fringilla, maximus ipsum sit amet, congue
                nunc. Vivamus egestas, orci at faucibus scelerisque, lorem lacus bibendum nulla, vitae maximus erat nibh
                a urna. Suspendisse congue feugiat convallis. Aliquam mi ligula, vehicula at dictum non, convallis nec
                purus. Vestibulum sit amet magna iaculis, euismod ante vel, mattis urna. Quisque ut orci elit. Aenean
                nisl ex, pretium ut mi eu, rhoncus fermentum lorem. Etiam eget mollis tortor. Aenean tincidunt ligula
                viverra leo ullamcorper sodales in sit amet dolor. Nunc bibendum neque vitae erat accumsan, eget
                interdum dolor pretium. Proin ullamcorper sapien et elit porta, nec laoreet nisi gravida.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
            </ul>
        </div>
    </div>
<%- viewListGroupItem({ }); %>
<%- include('./partials/footer'); %>