<div id="row">
    <div id="col">
        <div id="quick-menu">
            <button type="submit">
                <%- typeof isBTNTitle ==='undefined' ? getFirstUpperCase('send') : getFirstUpperCase(isBTNTitle); %>
            </button>
        </div>
    </div>
</div>