*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%background
{
    height : 100%;
    width : 100%;
}

html
{
    @extend %background;
}

body
{
    @extend %background;
}

$rem : 2rem;

p
{
    margin: 0;
    padding: 0;
    text-indent: $rem;
}

$size : 42px;

@for $i from 1 through 6
{
    h#{ $i }
    {
        font-size: $size - ($i - 1) * ($size - $size / 3) / 5;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
    }
}