$selectColor : red;
$borderColor : #424242;
$backgroundColor : #ccc;
#sidebar {
    width: auto;
    #sidebar-navigation:hover {
        width: 240px;
    }
    #sidebar-navigation {
        position: relative;
        height: 100%;
        width: 90px;
        overflow-x: hidden;
        transition: 0.5s;
        ul {
            position: absolute;
            width: 100%;
            padding: 0;
            margin: 0;
            li.active {
                background-color: $selectColor;
                transition: 0.5s;
                a {
                    color: white;
                }
            }
            li {
                position: relative;
                list-style: none;
                width: calc(100% - 2rem);
                a {
                    position: relative;
                    display: flex;
                    width: 100%;
                    text-decoration: none;
                    color: $selectColor;
                    #sidebar-icon {
                        position: relative;
                        display: block;
                        min-width: 60px;
                        height: 60px;
                        text-align: center;
                        line-height: 70px;
                        margin-right: 1rem;
                        ion-icon {
                            position: relative;
                            width: 20px;
                            height: 20px;
                            z-index: 1;
                        }
                    }
                    #sidebar-title {
                        position: relative;
                        display: block;
                        height: 60px;
                        line-height: 60px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}