    </div>    
    <footer>
        <%- '<p id=\"signature\"></p>'; %>
        <%- '<p id=\"timer\"></p>'; %>
    </footer>
    <script type="module" src="/javascripts/script.js"></script>
    <%- typeof scriptModule !== 'undefined' ? scriptModule : ''; %>
</body>
</html>