    </div>    
    <footer>
        <%- '<p id=\"signature\"></p>'; %>
        <%- '<p id=\"timer\"></p>'; %>
    </footer>
    <%- typeof isGJSMFile !== 'undefined' ? isGJSMFile : ''; %>
    <%- typeof isPJSMFile !== 'undefined' ? isPJSMFile : ''; %>
</body>
</html>