<div class="row">
    <div class="col">
        <div id="error-list" hidden></div>
    </div>
</div>
<div class="row">
    <div id="footer-menu">
        <button type="submit">
            <%- typeof btnTitle ==='undefined' ? getFirstUpperCase('send') : getFirstUpperCase(btnTitle); %>
        </button>
    </div>
</div>