    <% if (isThis(index, 'undefined')) { } else { %>
        <% for (let i = 0; i < index['length']; i++) { %>
            <%
                let html = '';
                html += '<div id=\"row\">';
                    html += '<div id=\"col\">';
                        html += '<div id=\"' + (i % 2 === 0 ? 'first-item' : 'second-item') + '\">';
                            html += getValidation(index[i]['picture']) ? '<img src=\"' + '/images/' + index[i]['picture'] + '\" alt=\"\" height=\"200\">' : '';
                            html += getValidation(index[i]['title']) ? '<h6>' + getFirstUpperCase(index[i]['title']) + '</h6>' : '';
                            html += getValidation(index[i]['description']) ? '<p>' + getFirstUpperCase(index[i]['description']) + '</p>' : '';
                            html += '<div style="clear: both;"></div>';
                        html += '</div>';
                    html += '</div>';
                html += '</div>';
                html += footerQuickMenu({
                    array : isFooterQuickMenu,
                    pathPrefix : isPathPrefix,
                    index : index[i]['id'],
                    position : 'end',
                });
                html += bootstrapModal({
                    array : index,
                    description : '',
                    index : i,
                    title : 'are you sure do you want to delete this file?',
                });
            %>
            <%- html; %>
        <% } %>
    <% } %>
</div>
<%- include('./pagination'); %>