    <% if (isThis(index, 'undefined')) { } else { %>
        <% for (let i = 0; i < index['length']; i++) { %>
            <%
                let html = '';
                html += '<div class=\"row\">';
                    html += '<div class=\"col\">';
                        html += '<div id=\"' + (i % 2 === 0 ? 'light-item' : 'dark-item') + '\">';
                            html += index[i]['picture'] ? '<img src=\"' + '/images/' + index[i]['picture'] + '\" alt=\"\" height=\"200\">' : '';
                            html += index[i]['title'] ? '<h6>' + getFirstUpperCase(index[i]['title']) + '</h6>' : '';
                            html += index[i]['description'] ? '<p>' + getFirstUpperCase(index[i]['description']) + '</p>' : '';
                            html += '<div style="clear: both;"></div>';
                        html += '</div>';
                    html += '</div>';
                html += '</div>';
                html += '<div class=\"row\">';
                    html += '<div class=\"col\">';
                        html += '<div id=\"footer-menu\">';
                            for (let x = 0; x < isFooterMenu['length']; x++) {
                                let href = '/';
                                href += isPathPrefix;
                                href += '/';
                                href += isFooterMenu[x]['title'][0];
                                href += '/';
                                href += index[i]['id'];
                                href = isFooterMenu[x]['path'] ? href : '#';
                                href = href.toLowerCase();
                                let target = isFooterMenu[x]['target'] ? ' data-bs-toggle=\"modal\"' : '';
                                let toggle = isFooterMenu[x]['toggle'] ? ' data-bs-target=\"#modal-' + index[i]['id'] + '\"' : '';
                                html += '<a href=\"' + href + '\"' + target + toggle + '>';
                                    html += '<button type=\"submit\">';
                                        html += getFirstUpperCase(isFooterMenu[x]['title'][1]);
                                    html += '</button>';
                                html += '</a>';
                            };
                        html += '</div>';
                    html += '</div>';
                html += '</div>';
                html += bootstrapModal({
                    array : index,
                    description : '',
                    index : i,
                    title : 'are you sure do you want to delete this file?',
                });
            %>
            <%- html; %>
        <% } %>
    <% } %>
</div>
<%- include('./pagination'); %>