<div class="row">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-dark">whatsapp</button>
        <button type="button" class="btn btn-outline-dark">ligar</button>
        <button type="button" class="btn btn-outline-dark">como chegar</button>
        <button type="button" class="btn btn-outline-dark">fotos</button>
    </div>
</div>